 body {
   background-repeat: no-repeat;
   background-size:contain;
 }


 .flexs-contener {
    display: flex; 
    flex-wrap:nowrap; /* لا يُسمح بالتفاف العناصر */
    overflow-x: auto; /* تمكين التمرير الأفقي */
    background-color: dodgerblue;
    justify-content: center; /* المحاذاة لليسار */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: calc(15px + env(safe-area-inset-top)) 10px 15px 10px;
    z-index: 1000;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; /* تحسين السحب في iOS/أندرويد */
    gap: 10px; /* مسافة بين الأزرار */
    
}

.flexs-contener a {
    color: white;
    background-color: #333;
    padding: 10px 20px;
    margin: 3px 10px;
    text-decoration: none; /*لحذف الخط الذي تحت الكلمة التي تدل على الرابط*/
    font-size: 18px;
    border-radius: 5px;



}

/* حتى لايقوم المحتوى بتغطية الهيدر */
.content  {
    margin-top: 100px;
    padding: 20px;
}


.articleup ul {
    font-size: 16px;
}



.articleup { /*الكتابه عند الهيدر*/
    color:black;
}


h1.frist {
    background-color: burlywood;
    text-align: center;
    opacity: 0.8;
    /* الخاصه بالشفافية */
}


h1.cecond {
    /* لجعل الخلفية زرقاء والكتابة شفافه */
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
    opacity: 0.8;
    /* الخاصه بالشفافية */
}

h1 {
    background-color: burlywood;
    text-align: center;
}

p {
    background-color: darkgray;
}

  /* تذييل الصفحة */
  .beforefooter {
    text-align: center; /* محاذاة النص في الوسط */
    padding: 20px; /* حشو داخلي للتذييل */
    background-color: burlywood; /* خلفية رمادية فاتحة جداً */
    color: #000000; /* لون النص رمادي متوسط */
    margin-top: 40px; /* مسافة من الأعلى تفصل التذييل عن باقي الصفحة */
  }
